/* Large Desktop */

@media (max-width:1400px){

    .container{

        width:94%;
    }

}

/* Laptop */

@media (max-width:1200px){

    .section{

        padding:90px 0;
    }

}

/* Tablet */

@media (max-width:992px){

    .section{

        padding:80px 0;
    }

}

/* Mobile */

@media (max-width:768px){

    h1{

        font-size:2.8rem;
    }

    h2{

        font-size:2rem;
    }

    .section{

        padding:70px 0;
    }

}

/* Small Mobile */

@media (max-width:576px){

    h1{

        font-size:2.2rem;
    }

    h2{

        font-size:1.8rem;
    }

    .container{

        width:95%;
    }

}