.container{

    width:min(92%,var(--container));

    margin:auto;
}

.section{

    padding:100px 0;
}

.flex{

    display:flex;
}

.grid{

    display:grid;
}

.text-center{

    text-align:center;
}

.btn{

    display:inline-flex;

    align-items:center;

    justify-content:center;

    gap:.6rem;

    padding:14px 28px;

    border-radius:999px;

    transition:var(--transition);

    font-weight:600;
}

.btn-primary{

    background:var(--primary);

    color:white;
}

.btn-primary:hover{

    background:var(--primary-dark);
}

.btn-outline{

    border:2px solid var(--primary);

    color:var(--primary);
}

.btn-outline:hover{

    background:var(--primary);

    color:white;
}